* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(img/forms.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.section h2 {
  font-size: 1.5rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
  color: white;
}

.section p {
  font-size: 1rem;

  color: white;
  padding: 1rem;
}

.asterisk {
  color: crimson;
}

.section form input {
  width: 90vw;
  margin-bottom: 1rem;
  padding: 0 5rem;
  border: 2px solid darkgrey;
}

.section form label {
  color: white;
  width: 50vw;
}

.gender {
  display: flex;
  width: 20vw;
  column-gap: 0.7rem;
  margin-left: -1rem;
  align-items: baseline;
}

.check {
  display: flex;
  flex-direction: row-reverse;
  width: 20vw;
  column-gap: 100px;
  align-items: center;
  justify-content: center;
  margin-left: 75px;
}

.section form textarea {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid grey;
}

.section form .btn {
  width: 100%;
  margin: 0;
  cursor: pointer;
}
@media screen and (min-width: 720px) {
  .section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(img/forms.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
  }
  .section h2 {
    font-size: 6rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: white;
  }

  .section p {
    font-size: 2rem;

    color: white;
    padding: 1rem;
  }
  .section form input {
    width: 48vw;
    margin-bottom: 1rem;
    padding: 0 5rem;
    border: 2px solid darkgrey;
    height: 3vh;
  }

  .section form label {
    display: flex;
    color: white;
    width: 80%;
  }
  .gender {
    font-size: 20px;
  }
  .gender p {
    font-size: 20px;
  }

  .check {
    display: flex;
    flex-direction: row-reverse;
    width: 20vw;
    column-gap: 100px;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
  }
  .check p {
    font-size: 20px;
  }
  .section form textarea {
    width: 550px;
    height: 150px;
    padding: 10px 14px;
    border: 1px solid grey;
  }
  .section form .btn {
    width: 550px;
    margin: 0;
    cursor: pointer;
  }
}
